{% load static %}
<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" href="{% static 'css/balance.css' %}" />
		<script type="text/javascript" src="{% static 'js/balance.js' %}"></script>
	</head>


    <body>

        <div class="cart">
            <ul>
                <li>
                    <div class="confirm-wrapper">
                            <span class="glyphicon glyphicon-ok"></span>
                    </div>

                    <div class="content-wrapper">
                        <div class="img">
                            <img src="{% static 'img/hot_10.jpg' %}" alt="">
                        </div>
                        <div class="detail">
                            <p class="name">鱿鱼</p>
                            <p class="price">￥</p>
                            <p class="num">1</p>
                        </div>
                    </div>
                </li>
                 <li>
                    <div class="confirm-wrapper">
                            <span class="glyphicon glyphicon-ok"></span>
                    </div>

                    <div class="content-wrapper">
                        <div class="img">
                            <img src="{% static 'img/hot_02.jpg' %}" alt="">
                        </div>
                        <div class="detail">
                            <p class="name">麻辣烫</p>
                            <p class="price">￥</p>
                            <p class="num">1</p>
                        </div>
                    </div>
                </li>
            </ul>

        </div>
        <div>
            <p>删除</p>
        </div>


    </body>

</html>