{% load static %}
<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" href="{% static 'css/balance.css' %}" />
		<script type="text/javascript" src="{% static 'js/balance.js' %}"></script>
	</head>


    <body>

        <div class="cart">
            <ul>
                {% for cart in carts %}
                   <li>
                        <div class="confirm-wrapper" cartid="{{ cart.id }}">
                            {% if cart.isselect %}
                                <span class="glyphicon glyphicon-ok"></span>
                            {% else %}
                                <span class="no"></span>
                            {% endif %}
                        </div>

                        <div class="content-wrapper">
                            <div class="img">
                                <img src="{{ cart.goods.goodsname }}" alt="">
                            </div>
                            <div class="detail">
                                <p class="name">{{ cart.goods.name }}</p>
                                <p class="price" price="{{ cart.goods.price }}">￥{{ cart.goods.price }}</p>
                                <p class="num" num="{{ cart.number }}">x{{ cart.number }}</p>
                            </div>
                        </div>
                    </li>

                {% endfor %}

            </ul>

            <div class="bill">
            <div class="bill-left">
                <div class="all" isall="true">
                    <span class="glyphicon glyphicon-ok"></span>
                    <b>全选</b>
                </div>
                <div class="total">

                </div>
            </div>

            <div class="bill-right" id="generateorder">
                下单
            </div>
        </div>

        </div>

    </body>

</html>